@font-face {
  font-family: 'MyDM-Serif';
  src: local("DM Serif Regular"), local("DM_Serif_Regular"), local("dm-serif-regular");
  src: url("../fonts/dm_serif_display_400.woff2");
  src: url("../fonts/dm_serif_display_400.woff");
  font-weight: 400; }

@font-face {
  font-family: 'MyDM-Serif';
  src: local("DM Serif Italic"), local("DM_Serif_Italic"), local("dm-serif-italic");
  src: url("../fonts/dm_serif_display_400_italic.woff2");
  src: url("../fonts/dm_serif_display_400_italic.woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Regular"), local("DM_Sans_Regular"), local("dm-sans-regular");
  src: url("../fonts/dm_sans_400.woff2");
  src: url("../fonts/dm_sans_400.woff");
  font-weight: 400; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Italic"), local("DM_Sans_Italic"), local("dm-sans-italic");
  src: url("../fonts/dm_sans_400_italic.woff2");
  src: url("../fonts/dm_sans_400_italic.woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Medium Italic"), local("DM_Sans_Medium_Italic"), local("dm-sans-medium-italic");
  src: url("../fonts/dm_sans_500_italic.woff2");
  src: url("../fonts/dm_sans_500_italic.woff");
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Medium"), local("DM_Sans_Medium"), local("dm-sans-medium");
  src: url("../fonts/dm_sans_500.woff2");
  src: url("../fonts/dm_sans_500.woff");
  font-weight: 500; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Bold"), local("DM_Sans_Bold"), local("dm-sans-bold");
  src: url("../fonts/dm_sans_700.woff2");
  src: url("../fonts/dm_sans_700.woff");
  font-weight: 700; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Bold Italic"), local("DM_Sans_Bold_Italic"), local("dm-sans-bold-italic");
  src: url("../fonts/dm_sans_700_italic.woff2");
  src: url("../fonts/dm_sans_700_italic.woff");
  font-style: italic;
  font-weight: 700; }

body {
  font-family: "DM Sans", "MyDM-Sans", Arial, Helvetica, sans-serif;
  margin: auto;
  background: rgba(67, 76, 204, 0.05); }

.section_container {
  max-width: 1140px;
  margin: auto; }

* {
  line-height: 32px; }

input {
  width: 100%; }

button,
.prev,
.next {
  cursor: pointer; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

h1,
h2,
h3,
time {
  font-family: "DM Serif Display", "MyDM-Serif", serif;
  font-weight: 400; }

.section_heading {
  display: none; }

section {
  padding-left: 14px;
  padding-right: 14px; }

@media (min-width: 1200px) {
  section {
    padding-left: 135px;
    padding-right: 135px; } }

.masthead {
  background: #434CCC;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 14px;
  padding-right: 14px; }

.masthead__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.masthead_heading {
  margin: 0; }

.masthead_heading-title {
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase; }

@media (min-width: 300px) {
  .masthead_heading-title {
    font-size: 24px; } }

@media (min-width: 1200px) {
  .masthead {
    padding-left: 135px;
    padding-right: 135px; }
  .masthead_heading-title {
    font-size: 40px; } }

.navigation {
  position: relative; }

.show-menu {
  position: absolute; }

.navigation_list {
  display: none;
  top: -37px;
  right: -14px;
  z-index: 2;
  line-height: 24px;
  padding: 16px;
  background-color: #2b0ba0;
  border-bottom-left-radius: 24px;
  max-width: 400px; }

.navigation_list-item {
  font-weight: 700;
  border-block-end: 1px solid #ffffff; }

.navigation_link {
  color: #ffffff; }

.navigation_list-item:hover {
  border-block-end: 1px solid chartreuse; }

.navigation_link:hover {
  color: chartreuse; }

.navigation_link,
.navigation_list-item,
.navigation_list-item:hover,
.navigation_link:hover {
  transition: all ease-in 0.2s; }

.menu {
  background-image: url("../images/icon_menu.svg");
  width: 20px;
  height: 14px;
  display: block;
  background-size: cover;
  text-indent: -9999px;
  cursor: pointer; }

.show-menu {
  top: -100%; }

body > [type="checkbox"]:checked ~ header .navigation_list {
  display: block;
  position: absolute; }

body > [type="checkbox"]:checked ~ header .menu {
  background-image: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(5, 5, 5, 0.5);
  width: 100vw;
  height: 100vh; }

@media (min-width: 640px), (min-width: 1200px) {
  .navigation_list,
  body > [type="checkbox"]:checked ~ header .navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: unset;
    background-image: none;
    height: 100%;
    width: 324px;
    position: unset;
    max-width: 100%;
    transform: none; }
  .navigation_list-item:hover {
    border-block-end: none; }
  .navigation_list-item {
    display: block;
    border: none; }
  .show-menu,
  .menu {
    display: none; } }

.section_details-content {
  padding-top: 31px;
  padding-right: 14px; }

.image_list,
.photo_information-list {
  display: grid; }

@media (min-width: 1200px) {
  .details_content-header,
  .details_content-figure-picture,
  .photo_information-list,
  .details_content-figure-picture .active-picture,
  .details_content-summary-article {
    padding-right: 0; }
  .container {
    display: flex;
    justify-content: space-between; }
  .section_details-content {
    padding-right: 135px; } }

.section_newsletter {
  background: #ffdd78;
  padding-top: 63px;
  padding-bottom: 54px; }

.article_header-link {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.3em; }

.newsletter_article-title {
  font-size: 38px;
  line-height: 48px; }

@media (min-width: 300px) {
  .article_header-link {
    font-size: 16px;
    line-height: 24px; }
  .newsletter_article-title {
    font-size: 40px; } }

@media (min-width: 1200px) {
  .section_newsletter {
    padding-top: 79px;
    padding-bottom: 104px; }
  .newsletter_article {
    display: flex;
    justify-content: space-between; }
  .newsletter_article-header {
    max-width: 382px; }
  .newsletter_article-title {
    font-size: 52px;
    line-height: 64px; } }

.footer {
  background: #ffffff; }

.site_footer-about,
.other_works,
.site_footer_navigation-list,
.information {
  padding-left: 14px;
  padding-right: 14px; }

.information,
.website-information,
.other_works-link,
.site_footer_navigation-list-item .list_item-link {
  color: rgba(0, 0, 0, 0.5); }

.other_works-list-item,
.website-information,
.site_footer_navigation-list,
.information {
  line-height: 24px; }

.other_works-link,
.other_works-details,
.share_link-list {
  display: flex; }

.site_footer-about {
  padding-top: 76px;
  padding-bottom: 79px; }

.site_footer-heading,
.website-information,
.information {
  margin: 0; }

.site_footer-title,
.site_footer_navigation-list-item .active,
.other_works-date {
  color: #000000; }

.site_footer-title {
  font-size: 20px;
  text-transform: uppercase; }

@media (min-width: 300px) {
  .site_footer-title {
    font-size: 24px; } }

@media (min-width: 1200px) {
  .footer_wrapper {
    padding-left: 135px;
    padding-right: 135px; }
  .site_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 75px; }
  .site_footer-about,
  .other_works,
  .site_footer_navigation-list,
  .information {
    padding-left: 0;
    padding-right: 0; }
  .other_works,
  .site_footer-about {
    padding-top: 0; }
  .site_footer_navigation-list,
  .other_works {
    padding-bottom: 79px; } }

.share_link-list {
  max-width: calc(41px + 9px + 18px);
  justify-content: space-between;
  align-items: center; }

.share_link-list .list_item-link {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat; }

.share_link-list .list_item-link:hover {
  opacity: 0.5; }

.share_link-list .list_item-link,
.share_link-list .list_item-link:hover {
  transition: all ease-in 0.2s; }

.facebook_icon {
  background-image: url("../images/icon_facebook.svg");
  width: 9px;
  height: 18px; }

.twitter_icon {
  background-image: url("../images/icon_twitter.svg");
  width: 18px;
  height: 15px; }

.instagram_icon {
  background-image: url("../images/icon_instagram.svg");
  width: 18px;
  height: 18px; }

.details_content-breadcrumb {
  position: relative;
  max-width: max-content; }

.breadcrumb-link {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5); }

.breadcrumb-link::before {
  content: "";
  background-image: url("../images/icon_arrow_left.svg");
  display: block;
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 14px;
  height: 8px; }

.details_content-heading {
  font-size: 40px;
  line-height: 58px; }

.details_content-header-paragraph {
  font-size: 16px; }

@media (min-width: 300px) {
  .details_content-heading {
    font-size: 52px;
    line-height: 64px; }
  .details_content-header-paragraph {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .section_details-content {
    grid-gap: 2rem; }
  .details_content-heading {
    font-size: 72px;
    line-height: 80px;
    max-width: 457px; } }

.photo_information-list-item {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px; }

.information-detail {
  font-weight: 700; }

@media (min-width: 300px) {
  .photo_information-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    flex-basis: 51%; }
  .photo_information-list * {
    line-height: 24px; }
  .photo_information-list-item {
    margin-top: 0;
    margin-bottom: 0; } }

.summary_article-heading {
  font-size: 40px;
  line-height: 45px; }

.details_content-summary-article {
  padding-top: 75px;
  padding-bottom: 105px; }

.summary_article-header-paragraph {
  line-height: 24px;
  padding-top: 31px;
  font-size: 16px;
  font-weight: 400; }

.summary_article-paragraph,
.summary_article-header-paragraph {
  padding-bottom: 31px; }

.summary_article-paragraph,
.information_title {
  color: rgba(0, 0, 0, 0.5); }

.summary_article-heading,
.summary_article-header-paragraph,
.summary_article-paragraph,
.details_content-breadcrumb {
  margin: 0; }

.summary_article-paragraph {
  font-size: 12px;
  line-height: 20px; }

@media (min-width: 300px) {
  .summary_article-heading {
    font-size: 40px;
    line-height: 48px; }
  .summary_article-header-paragraph {
    font-size: 18px;
    line-height: 32px; }
  .summary_article-paragraph {
    font-size: 16px;
    line-height: 24px; } }

@media (min-width: 1200px) {
  .details_content-summary-article {
    grid-column: 2;
    padding-top: 0;
    flex-basis: 49%; }
  .summary_article-heading {
    line-height: 64px;
    font-size: 52px; }
  .summary_article-header-paragraph {
    padding-bottom: 38px; }
  .summary_article-paragraph {
    padding-bottom: 55px; } }

.email_input {
  border: 1px solid #dadada;
  padding-top: calc(16px / 2);
  padding-bottom: calc(16px / 2);
  margin-top: calc(16px / 2);
  margin-bottom: calc(16px / 2);
  max-width: 346px;
  padding-left: 8px;
  width: calc(100% - 8px); }

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder {
  padding-left: 16px; }

.submit_button {
  background-color: #434ccc;
  color: #ffffff;
  font-size: 14px;
  padding-top: calc((48px - 16px) / 4);
  padding-bottom: calc((48px - 16px) / 4);
  padding-left: calc(45px / 2);
  padding-right: calc(45px / 2);
  border: none;
  max-width: 100%; }

.submit_button:hover {
  background-color: #1e27a7; }

.submit_button,
.submit_button:hover {
  transition: all ease-in 0.2s; }

.submit_button,
.email_input {
  border-radius: 5px; }

.submit_button,
.section_newsletter label {
  font-weight: 700; }

.section_newsletter label {
  line-height: 16px;
  font-size: 10px;
  text-transform: uppercase; }

::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

@media (min-width: 300px) {
  .submit_button {
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px; }
  .form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px; }
  .email_input {
    padding-left: 16px;
    width: calc(100% - 16px); }
  .section_newsletter label {
    font-size: 12px; }
  ::placeholder {
    font-size: 16px; }
  ::-webkit-input-placeholder {
    font-size: 16px; }
  ::-moz-placeholder {
    font-size: 16px; } }

@media (min-width: 1200px) {
  .newsletter_article,
  .section_newsletter form {
    gap: 16px; }
  .newsletter_article {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .email_input {
    margin-bottom: 0;
    width: 346px; }
  .form_wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 54px; } }

.details_content-figure {
  grid-gap: 10px;
  padding-top: calc(82px - 32px);
  padding-bottom: calc(92px - 32px); }

.row::-webkit-scrollbar {
  display: none; }

.row {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none; }

.image-active,
.details_content-figure-picture {
  max-width: 100%; }

.image_list {
  display: flex;
  flex-direction: row;
  column-gap: 9px;
  overflow: auto;
  flex-basis: fill; }

.small-image,
.active-picture img {
  border-radius: 5px; }

.small-image {
  max-width: 137px;
  max-height: 85px; }

.not-active {
  opacity: 0.5; }

.prev {
  left: 0; }

.next {
  right: 0; }

.image_wrapper {
  position: relative; }

.prev,
.next {
  opacity: 0;
  position: absolute;
  top: 40%;
  color: #ffffff;
  padding: 16px;
  border-radius: 5px;
  transition: all -in 0.2s; }

.active,
.demo:hover {
  opacity: 1; }

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.prev:hover,
.next:hover,
.next,
.prev,
.active,
.demo:hover {
  transition: all ease-in 0.2s; }

.image_wrapper:hover .prev,
.image_wrapper:hover .next {
  opacity: 1; }

@media (min-width: 1200px) {
  .details_content-figure {
    grid-column: 1/3; }
  .small-image {
    max-width: 100%; }
  .image_list {
    column-gap: 10.5px; }
  .photo_information-list {
    max-width: 443px;
    max-height: 152px;
    align-items: flex-end;
    grid-column: 1; } }

.website_information {
  padding-top: 22px;
  padding-bottom: 29px; }

@media (min-width: 1200px) {
  .site_footer-about {
    flex-basis: 20%; } }

.site_footer_navigation-list {
  align-self: flex-start; }

.site_footer_navigation-list-item .active {
  font-weight: 700;
  padding-bottom: 20px; }

.site_footer_navigation-list-item:nth-of-type(1) {
  padding-bottom: 23px; }

.site_footer_navigation-list-item > .list_item-link:hover {
  color: #000000; }

.site_footer_navigation-list-item > .list_item-link,
.site_footer_navigation-list-item > .list_item-link:hover {
  transition: all ease-in 0.2s; }

.other_works {
  padding-top: calc(78px - 13px);
  padding-bottom: calc(70px - 13px);
  align-self: flex-start; }

.other_works-list-item {
  padding-bottom: 13px;
  padding-top: 13px; }

.other_works-details {
  flex-direction: column;
  font-size: 14px;
  line-height: 24px; }

.other_works-image {
  max-width: 70px;
  min-width: 70px;
  max-height: 48px;
  border-radius: 3px;
  margin-right: 31px; }

.other_works-date {
  font-size: 10px;
  font-weight: 700;
  line-height: 24px; }

.other_works-link {
  flex-wrap: wrap; }

@media (min-width: 250px) {
  .other_works-link {
    flex-wrap: nowrap;
    align-items: center; } }

@media (min-width: 300px) {
  .other_works-details {
    font-size: 16px; }
  .other_works-date {
    font-size: 12px; }
  .other_works-image {
    height: 48px; } }

@media (min-width: 1200px) {
  .other_works {
    max-width: 370px;
    padding-top: 0; }
  .other_works-list-item:nth-of-type(1) {
    padding-top: 0;
    padding-bottom: calc(39px / 2); }
  .other_works-list-item:nth-of-type(2) {
    padding-bottom: 0;
    padding-top: calc(39px / 2); } }

.page_information {
  position: relative;
  padding-top: 27px;
  padding-bottom: 29px; }

.page_information::before {
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.information:nth-of-type(2) {
  padding-top: 7px; }

@media (min-width: 1200px) {
  .page_information-wrapper {
    display: flex;
    place-content: space-between;
    flex-basis: 100%;
    padding-left: 135px;
    padding-right: 135px; }
  .information {
    padding: 0; } }
