body {
  margin: auto;
  background: rgba(67, 76, 204, 0.05); }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

section,
.masthead,
footer {
  margin: auto;
  max-width: 1440px; }

.masthead {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #434CCC;
  padding-block-start: 16px;
  padding-block-end: 16px;
  padding-inline-start: 14px;
  padding-inline-end: 14px; }

.masthead_heading {
  margin: 0; }

.masthead_heading-title {
  font-size: 40px;
  color: #FFFFFF;
  text-transform: uppercase; }

.show-menu {
  display: none; }

.menu {
  display: none; }

@media (min-width: 1200px) {
  .masthead {
    padding-inline-start: 135px;
    padding-inline-end: 135px; } }

.navigation_list {
  background-image: url("../images/icon_menu.svg");
  width: 20px;
  height: 14px;
  display: block;
  background-size: cover; }

.navigation_list-item {
  display: none;
  font-weight: 700; }

.navigation_link {
  color: #FFFFFF; }

@media (min-width: 1200px) {
  .navigation_list {
    background-image: none;
    height: 100%;
    width: 324px; }
  .navigation_list-item {
    display: block; }
  .navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

.details_content-breadcrumb {
  position: relative; }

.breadcrumb-link {
  color: rgba(0, 0, 0, 0.5);
  padding-inline-start: calc(14px + 10px); }

.breadcrumb-link::before {
  content: "";
  background-image: url("../images/icon_arrow_left.svg");
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 0; }

.details_content-heading {
  font-size: 52px; }

.details_content-header-paragraph {
  font-size: 18px; }

.image-active {
  max-width: 346px;
  max-height: 215px; }

.not-activated {
  max-width: 137px;
  max-height: 85px; }

.photo_information-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px; }

.photo_information-list-item {
  display: flex;
  flex-direction: column; }

.information-detail {
  font-weight: 700; }

.information_title {
  color: rgba(0, 0, 0, 0.5); }

.section_newsletter {
  background: #FFDD78;
  padding-block-start: 63px;
  padding-block-end: 54px;
  padding-inline-start: 14px;
  padding-inline-end: 14px; }

.article_header-link {
  color: #000000;
  font-weight: normal;
  text-transform: uppercase; }

.newsletter_article-title {
  font-size: 40px; }

.email_input {
  border: 1px solid #DADADA;
  padding-block-start: 16px;
  padding-block-end: 16px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  max-width: 346px; }

input::-webkit-input-placeholder {
  padding-inline-start: 16px; }

.submit_button {
  background-color: #434CCC;
  color: #FFFFFF;
  padding-block-start: calc((48px - 16px) / 2);
  padding-block-end: calc((48px - 16px) / 2);
  padding-inline-start: 45px;
  padding-inline-end: 45px;
  border: none; }

.submit_button,
.email_input {
  border-radius: 5px; }

.submit_button,
.section_newsletter label {
  font-weight: 700; }

.section_newsletter label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-transform: uppercase; }

@media (min-width: 1200px) {
  .section_newsletter {
    padding-inline-start: 135px;
    padding-inline-end: 135px;
    padding-block-start: 79px;
    padding-block-end: 104px; }
  .newsletter_article {
    display: flex;
    justify-content: space-between; }
  .newsletter_article-header {
    max-width: 382px; }
  .newsletter_article-title {
    font-size: 52px; }
  .section_newsletter form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(346px + 54px + 170px); } }

footer {
  background: #FFFFFF;
  padding-inline-start: 14px;
  padding-inline-end: 14px; }

.footer_about {
  padding-block-start: 76px;
  padding-block-end: 79px; }

.footer_heading {
  margin: 0; }

.footer_title {
  color: #000000;
  font-size: 24px;
  text-transform: uppercase; }

.website-information {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding-block-start: 22px;
  padding-block-end: 29px;
  line-height: 24px; }

.share_link-list {
  max-width: calc(41px + 9px + 18px);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.share_link-list .list_item-link {
  display: block;
  text-indent: -9999px; }

footer .facebook_icon {
  background-image: url("../images/icon_facebook.svg");
  width: 9px;
  height: 18px; }

footer .twitter_icon {
  background-image: url("../images/icon_twitter.svg");
  width: 18px;
  height: 15px; }

footer .instagram_icon {
  background-image: url("../images/icon_instagram.svg");
  width: 18px;
  height: 18px; }

.footer_navigation-list-item .list_item-link {
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px; }

.footer_navigation-list-item .active {
  color: #000000;
  font-weight: 700; }

.footer_navigation-list-item:nth-of-type(1) {
  padding-block-end: 23px; }

.other_works {
  padding-block-start: 78px;
  padding-block-end: 70px; }

.other_works-list-item {
  display: flex;
  flex-direction: column;
  line-height: 24px; }

.other_works-link {
  color: rgba(0, 0, 0, 0.5); }

.other_works-date {
  font-size: 12px;
  font-weight: 700; }

.page-information {
  border-block-start: 1px solid rgba(0, 0, 0, 0.1);
  padding-block-start: 27px;
  padding-block-end: 29px; }

.information {
  color: rgba(0, 0, 0, 0.5); }
