@import "./variable.scss";

// Default style
body {
  margin: auto;
  background: rgba(67, 76, 204, 0.05);;
}

ul {
  @include reset-list;
}

a {
  text-decoration: none;
}

section,
.masthead,
footer {
  margin: auto;
  max-width: 1440px;
}