@import "./variable.scss";

// Default style
body {
  font-family: 'MyDM-Sans', Arial, Helvetica, sans-serif;
  margin: auto;
  background: rgba(67, 76, 204, 0.05);
}

ul {
  @include reset-list;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
time {
  font-family: 'MyDM-Serif', serif;
  font-weight: 400;
}

section,
.masthead,
footer {
  margin: auto;
  max-width: 1440px;
}