@import "./variable.scss";

// Default style
body {
  font-family: 'MyDM-Sans', Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 1440px;
  background: rgba(67, 76, 204, 0.05);
}

ul {
  @include reset-list;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
time {
  font-family: 'MyDM-Serif', serif;
  font-weight: $font-regular;
}

.section_heading {
  display: none;
}

section {
  padding-left: 14px;
  padding-right: 14px;
}

@media (min-width: $break-point-large) {
  section {
    padding-left: 135px;
    padding-right: 135px;
  }
}