@import "./variable";

.summary_article-heading {
  font-size: 40px;
  line-height: 45px;
}

.details_content-summary-article {
  padding-top: 75px;
  padding-bottom: 105px;
}

.summary_article-header-paragraph {
  line-height: 24px;
  padding-top: 31px;
  font-size: 16px;
  font-weight: $font-regular;
}

.summary_article-paragraph,
.summary_article-header-paragraph {
  padding-bottom: 31px;
}

.summary_article-paragraph,
.information_title {
  color: $common-font-color;
}

.summary_article-heading,
.summary_article-header-paragraph,
.summary_article-paragraph,
.details_content-breadcrumb,
.details_content-figure {
  margin: 0;
}

.summary_article-paragraph {
  font-size: 12px;
  line-height: 20px;
}

@media (min-width: 300px) {
  .summary_article-heading {
    font-size: 40px;
    line-height: 48px;
  }

  .summary_article-header-paragraph {
    font-size: 18px;
    line-height: 32px;
  }

  .summary_article-paragraph {
    font-size: 16px;
    line-height: 24px;
  }
}

// For desktop.
@media (min-width: $break-point-large) {
  .details_content-summary-article {
    grid-column: 2;
    padding-top: 0;
    flex-basis: 49%;
  }

  .summary_article-heading {
    line-height: 64px;
    font-size: 52px;
  }

  .summary_article-header-paragraph {
    padding-bottom: 38px;
  }

  .summary_article-paragraph {
    padding-bottom: 55px;
  }
}
