@import "./variable";

// Put the arrow on the text
.details_content-breadcrumb {
  position: relative;
}

.breadcrumb-link {
  color: $common-font-color;
  padding-left: calc(14px + 10px);
}

.breadcrumb-link::before {
  content: "";
  background-image: url("#{$image-path}icon_arrow_left.svg");
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 14px;
  height: 8px;
}

// For the header article: "details_content-header-article"
.details_content-heading {
  font-size: 52px;
 }

.details_content-header-paragraph {
  font-size: 18px;
}

// For desktop.
@media (min-width: $break-point-large) {
  .section_details-content {
    grid-gap: 2rem;
  }

  .details_content-heading {
    font-size: 72px;
    max-width: 457px;
  }
}