@import "./variable";

// Put the arrow on the text
.details_content-breadcrumb {
  position: relative;
  max-width: max-content;
}

.breadcrumb-link {
  display: flex;
  align-items: center;
  color: $common-font-color;
}

.breadcrumb-link::before {
  content: "";
  background-image: url("#{$image-path}icon_arrow_left.svg");
  display: block;
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 14px;
  height: 8px;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-link,
.breadcrumb-link:hover {
  transition: $fast-transition;
}

// For the header article: "details_content-header-article"
.details_content-heading {
  font-size: 40px;
  line-height: 58px;
}

.details_content-header-paragraph {
  font-size: 16px;
}

@media (min-width: $break-point-small) {
  // For the header article: "details_content-header-article"
  .details_content-heading {
    font-size: 52px;
    line-height: 64px;
  }

  .details_content-header-paragraph {
    font-size: 18px;
  }
}

// For desktop.
@media (min-width: $break-point-large) {
  .section_details-content {
    grid-gap: 2rem;
  }

  .details_content-heading {
    font-size: 72px;
    line-height: 80px;
    max-width: 457px;
  }
}
