@import "./variable";

  // Common style
  footer {
    background: #FFFFFF;
  }

  .footer_about,
  .other_works,
  .footer_navigation-list,
  .information
   {
    padding-inline-start: 14px;
    padding-inline-end: 14px;
  }

  .information,
  .website-information,
  .other_works-link,
  .footer_navigation-list-item .list_item-link {
    color: rgba(0, 0, 0, 0.5);
  }

  .other_works-list-item,
  .website-information,
  .footer_navigation-list,
  .information {
  line-height: 24px;
}

  .other_works-link,
  .other_works-details,
  .share_link-list {
    display: flex;
  }

  .footer_about {
    padding-block-start: 76px;
    padding-block-end: 79px;

  }

  .footer_heading,
  .website-information,
  .information {
    margin: 0;
  }

  .footer_title,
  .footer_navigation-list-item .active,
  .other_works-date {
    color: #000000;
  }
  
  .footer_title {
    font-size: 24px;
    text-transform: uppercase;
 }

  .website-information {
   padding-block-start: 22px;
   padding-block-end: 29px;
 }

   .share_link-list {
    max-width: calc(41px + 9px + 18px);
    justify-content: space-between;
    align-items: center;
  }

  .share_link-list .list_item-link {
    display: block;
    text-indent: -9999px;
  }

  footer .facebook_icon {
    background-image: url("#{$image-path}icon_facebook.svg");
    width: 9px;
    height: 18px;
  }

  footer .twitter_icon {
    background-image: url("#{$image-path}icon_twitter.svg");
    width: 18px;
    height: 15px;
  }

  footer .instagram_icon {
    background-image: url("#{$image-path}icon_instagram.svg");
    width: 18px;
    height: 18px;
  }

// Footer nav
  .footer_navigation-list-item .active {
    font-weight: 700;
    padding-block-end: 20px;
  }

  .footer_navigation-list-item:nth-of-type(1) {
    padding-block-end: 23px;
  }

// Other works styling
  .other_works {
    padding-block-start: calc(78px - 13px);
    padding-block-end: calc(70px - 13px);
  }

  .other_works-list-item {
   padding-block-end: 13px;
   padding-block-start: 13px;
  }

  .other_works-details {
    flex-direction: column;
    padding-inline-start: 31px;
  }

  .other_works-image {
    max-width: 70px;
    max-height: 48px;
    border-radius: 3px;
  }

  .other_works-date {
    font-size: 12px;
    font-weight: 700;
  }

  .page-information {
    border-block-start: 1px solid hsla(0, 0, 0, 0.1);
    padding-block-start:27px;
    padding-block-end: 29px;
  }

  .other_works-link {
    flex-wrap: wrap;
  }

  .information:nth-of-type(2) {
    padding-block-start: 7px;
  }

  // For desktop
@media (min-width: $break-point-large) {

  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 135px;
    padding-inline-end: 135px;
    padding-block-start: 72px;
    padding-block-end: 75px;
  }

  .footer_about,
  .other_works,
  .footer_navigation-list,
  .information
   {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .other_works,
  .footer_about {
    padding-block-start: 0;
  }

  .footer_navigation-list,
  .other_works {
    padding-block-end: 79px;
  }

  .footer_about {
    flex-basis: 20%;
  }

  .footer_navigation-list {
    flex-basis: 20%;
  }

  .other_works {
    flex-basis: 30%;
  }

  .other_works-list-item:nth-of-type(1) {
    padding-block-start: 0;
    padding-block-end: calc(39px / 2);
  }

  .other_works-list-item:nth-of-type(2) {
    padding-block-end: 0;
    padding-block-start: calc(39px / 2);
  }

  .page-information {
    display: flex;
    place-content: space-between;
    flex-basis: 100%;
  }

  .information {
    padding: 0;
  }
}