@import "./variable";

.email_input {
  border: 1px solid #dadada;
  padding-top: calc(16px / 2);
  padding-bottom: calc(16px / 2);
  margin-top: calc(16px / 2);
  margin-bottom: calc(16px / 2);
  max-width: 346px;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder {
  padding-left: 16px;
}

.submit_button {
  background-color: #434ccc;
  color: #ffffff;
  font-size: 14px;
  padding-top: calc((48px - 16px) / 4);
  padding-bottom: calc((48px - 16px) / 4);
  padding-left: calc(45px / 2);
  padding-right: calc(45px / 2);
  border: none;
  max-width: 100%;
}

.submit_button:hover {
  background-color: #1e27a7;
  box-shadow: 1px 1px 3px #000000;
}

.submit_button,
.submit_button:hover {
  transition: all ease-in 0.2s;
}

.submit_button,
.email_input {
  border-radius: 5px;
}

.submit_button,
.section_newsletter label {
  font-weight: $font-bold;
}

.section_newsletter label {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  text-transform: uppercase;
}

@media (min-width: 300px) {
  .email_input {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .submit_button {
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .section_newsletter label {
    font-size: 12px;
  }
}

// For desktop
@media (min-width: $break-point-large) {
  .newsletter_article,
  .section_newsletter form {
    gap: 16px;
  }

  .section_newsletter form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    // 346px is the width of the input, 170px is the widt of the button and 54px is the space between them
    width: calc(346px + 54px + 170px);
  }

  .email_input {
    margin-bottom: 0;
    width: 346px;
  }

  .submit_button {
    margin-top: 46.97px;
  }
}
