@import "./variable";

.email_input {
  border: 1px solid #dadada;
  padding-top: calc(16px / 2);
  padding-bottom: calc(16px / 2);
  margin-top: calc(16px / 2);
  margin-bottom: calc(16px / 2);
  max-width: 346px;
  padding-left: 8px;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder {
  padding-left: 16px;
}

.submit_button {
  background-color: #434ccc;
  color: #ffffff;
  font-size: 14px;
  padding-top: calc((48px - 16px) / 4);
  padding-bottom: calc((48px - 16px) / 4);
  padding-left: calc(45px / 2);
  padding-right: calc(45px / 2);
  border: none;
  max-width: 100%;
}

.submit_button:hover {
  background-color: #1e27a7;
}

.submit_button,
.submit_button:hover {
  transition: $fast-transition;
}

.submit_button,
.email_input {
  border-radius: 5px;
}

.submit_button,
.section_newsletter label {
  font-weight: $font-bold;
}

.section_newsletter label {
  line-height: 16px;
  font-size: 10px;
  text-transform: uppercase;
}

::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: $break-point-small) {
  .submit_button {
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .section_newsletter label {
    font-size: 12px;
  }

  ::placeholder {
    font-size: 16px;
  }

  ::-webkit-input-placeholder {
    font-size: 16px;
  }

  ::-moz-placeholder {
    font-size: 16px;
  }
}

// For desktop
@media (min-width: $break-point-large) {
  .newsletter_article,
  .section_newsletter form {
    gap: 16px;
  }

  .newsletter_article {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .email_input {
    margin-bottom: 0;
    width: 346px;
  }

  .form__wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 54px;
  }
}
