@import "./variable";

// Masthead styling
.masthead {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #434CCC;
  padding-block-start: 16px;
  padding-block-end: 16px;
  padding-inline-start: 14px;
  padding-inline-end: 14px;
}

.masthead_heading {
  margin: 0;
}

.masthead_heading-title {
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}

// For desktop
@media (min-width: $break-point-large) {

  .masthead {
    padding-inline-start: 135px;
    padding-inline-end: 135px;
  }

  .masthead_heading-title {
    font-size: 40px;
  }

}