@import "./variable";

// Masthead styling
.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #434CCC;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 14px;
  padding-right: 14px;
}

.masthead_heading {
  margin: 0;
}

.masthead_heading-title {
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media (min-width: 300px) {
  .masthead_heading-title {
    font-size: 24px;
  }
}

// For desktop
@media (min-width: $break-point-large) {

  .masthead {
    padding-left: 135px;
    padding-right: 135px;
  }

  .masthead_heading-title {
    font-size: 40px;
  }

}