@import "./variable.scss";

.navigation {
  position: relative;
}

.show-menu {
  position: absolute;
}

.navigation_list {
  display: none;
  top: -37px;
  right: -14px;
  line-height: 24px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2b0ba0;
  border-bottom-left-radius: 24px;
  max-width: 400px;
}

.navigation_list-item {
  font-weight: $font-bold;
  border-block-end: 1px solid #ffffff;
}

.navigation_link {
  color: #ffffff;
}

.navigation_list-item:hover {
  border-block-end: 1px solid chartreuse;
}

.navigation_link:hover {
  color: chartreuse;
}

.menu {
  background-image: url("#{$image-path}icon_menu.svg");
  width: 20px;
  height: 14px;
  display: block;
  background-size: cover;
  text-indent: -9999px;
  cursor: pointer;
}

.show-menu {
  top: -100%;
}

// When the icon is clicked, the menu will appear
body > [type="checkbox"]:checked ~ header .navigation_list {
  display: block;
  position: absolute;
}

body > [type="checkbox"]:checked ~ header .menu {
  background-image: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(5, 5, 5, 0.5);
  width: 100vw;
  height: 100vh;
}

// Menu for the medium device and desktop
@media (min-width: $break-point-medium), (min-width: $break-point-large) {
  .navigation_list,
  body > [type="checkbox"]:checked ~ header .navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: unset;
    background-image: none;
    height: 100%;
    width: 324px;
    position: unset;
    max-width: 100%;
    transform: none;
  }

  .navigation_list-item:hover {
    border-block-end: none;
  }

  .navigation_list-item {
    display: block;
    border: none;
  }

  .show-menu,
  .menu {
    display: none;
  }
}
