@import "./variable";

.other_works {
  padding-top: calc(78px - 13px);
  padding-bottom: calc(70px - 13px);
  align-self: flex-start;
}

.other_works-list-item {
  padding-bottom: 13px;
  padding-top: 13px;
}

.other_works-details {
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
}

.other_works-image {
  max-width: 70px;
  min-width: 70px;
  max-height: 48px;
  border-radius: 3px;
  margin-right: 31px;
}

.other_works-date {
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
}

.other_works-link {
  flex-wrap: wrap;
}

@media (min-width: 250px) {
  .other_works-link {
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media (min-width: $break-point-small) {
  .other_works-details {
    font-size: 16px;
  }

  .other_works-date {
    font-size: 12px;
  }

  .other_works-image {
    height: 48px;
  }
}

// For desktop
@media (min-width: $break-point-large) {
  .other_works {
    max-width: 370px;
    padding-right: $padding-desktop-left;
    padding-left: $padding-desktop-right;
    padding-top: 0;
  }

  .other_works-list-item:nth-of-type(1) {
    padding-top: 0;
    padding-bottom: calc(39px / 2);
  }

  .other_works-list-item:nth-of-type(2) {
    padding-bottom: 0;
    padding-top: calc(39px / 2);
  }
}
