@import "./variable";

.photo_information-list-item {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
}

.information-detail {
  font-weight: $font-bold;
}

@media (min-width: 300px) {
  .photo_information-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    flex-basis: 51%;
  }

  .photo_information-list * {
    line-height: 24px;
  }

  .photo_information-list-item {
    margin-top: 0;
    margin-bottom: 0;
  }
}
