@import "./variable";

// .section_details-content {

// }

// .details_content-header {
  
// }

.details_content-breadcrumb {
  position: relative;
}

.breadcrumb-link {
  color: rgba(0, 0, 0, 0.5);
  padding-inline-start: calc(14px + 10px);
}

.breadcrumb-link::before {
  content: "";
  background-image: url("#{$image-path}icon_arrow_left.svg");
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 0;
}

.details_content-heading {
  font-size: 52px;
 }

.details_content-header-paragraph {
  font-size: 18px;
}

// Styling the images
.image-active {
  max-width: 346px;
  max-height: 215px;
}

.not-activated {
  max-width: 137px;
  max-height: 85px;
}


// Information about the images
.photo_information-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.photo_information-list-item {
  display: flex;
  flex-direction: column;
}

.information-detail {
  font-weight: 700;
}

.information_title {
  color: rgba(0, 0, 0, 0.5);;
}