@import "./variable";

.section_newsletter {
  background: #ffdd78;
  padding-top: 63px;
  padding-bottom: 54px;
}

.article_header-link {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.3em;
}

.newsletter_article-title {
  font-size: 38px;
  line-height: 48px;
}

@media (min-width: 300px) {
  .article_header-link {
    font-size: 16px;
    line-height: 24px;
  }

  .newsletter_article-title {
    font-size: 40px;
  }
}

// For desktop
@media (min-width: $break-point-large) {
  .section_newsletter {
    padding-top: 79px;
    padding-bottom: 104px;
  }

  .newsletter_article {
    display: flex;
    justify-content: space-between;
  }

  .newsletter_article-header {
    max-width: 382px;
  }

  .newsletter_article-title {
    font-size: 52px;
    line-height: 64px;
  }
}
