@import "./variable";

.section_details-content {
  padding-block-start: 31px;
}

.details_content-breadcrumb {
  position: relative;
}

.breadcrumb-link {
  color: $common-font-color;
  padding-inline-start: calc(14px + 10px);
}

.breadcrumb-link::before {
  content: "";
  background-image: url("#{$image-path}icon_arrow_left.svg");
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 0;
}

.details_content-heading {
  font-size: 52px;
 }

.details_content-header-paragraph {
  font-size: 18px;
}

.details_content-figure {
  display: grid;
  grid-gap: 9px;
  padding-block-start: calc(82px - 32px);
  padding-block-end: calc(92px - 32px);
}

// Styling the images
.active-picture {
  grid-column: 1/9;
}

.image-active,
.list-item-active {
  max-width: 346px;
  max-height: 215px;
}

.small-image,
.image-active {
  border-radius: 5px;
}

.small-image {
  max-width: 137px;
  max-height: 85px;
}

.not-active {
  opacity: 0.5;
}

// Information about the images
.photo_information-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.photo_information-list-item {
  display: flex;
  flex-direction: column;
}

.information-detail {
  font-weight: 700;
}
 
// Summary
.summary_article-heading {
  font-size: 40px;
}

.details_content-summary-article {
  padding-block-start: 75px;
  padding-block-end: 105px;
}

.summary_article-header-paragraph {
  padding-block-start: 31px;
}

.summary_article-paragraph,
.summary_article-header-paragraph {
  padding-block-end: 31px;
}

.summary_article-paragraph,
.information_title {
  color: $common-font-color;
}

.summary_article-heading,
.summary_article-header-paragraph,
.summary_article-paragraph,
.details_content-breadcrumb,
figure {
  margin: 0;
}

// For desktop
@media (min-width: $break-point-large) {
  .section_details-content {
    display: grid;
    grid-gap: 2rem;
  }

  .details_content-heading {
    font-size: 72px;
    max-width: 457px;
  }

  .details_content-summary-article {
    grid-column: 2;
    padding-block-start: 0;
  }

  .summary_article-heading {
    line-height: 62px;
    font-size: 52px;
  }

  .summary_article-header-paragraph {
    padding-block-end: 38px;
  }

  .summary_article-paragraph {
    padding-block-end: 55px;
  }

  .image-active {
    max-width: 1170px;
    max-height: 728px;
  }

  .details_content-figure {
    grid-column: 1/3;
    max-width: 1170px;
  }

  .photo_information-list {
    max-width: 443px;
    max-height: 152px;
    align-items: flex-end;
    grid-column: 1;
  }
}