$padding-mobile-left: 14px;
$padding-mobile-right: 14px;

$padding-desktop-right: 135px;
$padding-desktop-left: 135px;

// Color of the text which repeats a lot.
$common-font-color: rgba(0, 0, 0, 0.5);

// Font weight
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
// Font-name
$dm-sans: "dm_sans";
$dm-serif: "dm_serif_display";

// Font path
$font-path: "../fonts";

// image path
$image-path: "../images/";

// For different devices
$break-point-small: 375px;
$break-point-medium: 640px;
$break-point-large: 1200px;

// Mixins
@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
