body {
  margin: auto;
  background: rgba(67, 76, 204, 0.05); }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.masthead {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #434CCC;
  padding-block-start: 16px;
  padding-block-end: 16px;
  padding-inline-start: 14px;
  padding-inline-end: 14px; }

.masthead_heading {
  margin: 0; }

.masthead_heading-title {
  font-size: 40px;
  color: #FFFFFF;
  text-transform: uppercase; }

.show-menu {
  display: none; }

.menu {
  display: none; }

@media (min-width: 1200px) {
  .masthead {
    padding-inline-start: 135px;
    padding-inline-end: 135px; } }

.navigation_list {
  background-image: url("../images/icon_menu.svg");
  width: 20px;
  height: 14px;
  display: block;
  background-size: cover; }

.navigation_list-item {
  display: none;
  font-weight: 700; }

.navigation_link {
  color: #FFFFFF; }

@media (min-width: 1200px) {
  .navigation_list {
    background-image: none;
    height: 100%;
    width: 324px; }
  .navigation_list-item {
    display: block; }
  .navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

.details_content-breadcrumb {
  position: relative; }

.breadcrumb-link {
  color: rgba(0, 0, 0, 0.5);
  padding-inline-start: calc(14px + 10px); }

.breadcrumb-link::before {
  content: "";
  background-image: url("../images/icon_arrow_left.svg");
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 0; }

.details_content-heading {
  font-size: 52px; }

.details_content-header-paragraph {
  font-size: 18px; }

.image-active {
  max-width: 346px;
  max-height: 215px; }

.not-activated {
  max-width: 137px;
  max-height: 85px; }

.photo_information-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px; }

.photo_information-list-item {
  display: flex;
  flex-direction: column; }

.information-detail {
  font-weight: 700; }

.information_title {
  color: rgba(0, 0, 0, 0.5); }

.section_newsletter {
  background: #FFDD78;
  padding-block-start: 63px;
  padding-block-end: 54px;
  padding-inline-start: 14px;
  padding-inline-end: 14px; }

.article_header-link {
  color: #000000;
  font-weight: normal;
  text-transform: uppercase; }

.newsletter_article-title {
  font-size: 40px; }

.email_input {
  border: 1px solid #DADADA;
  padding-block-start: 16px;
  padding-block-end: 16px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  max-width: 346px; }

.submit_button {
  background-color: #434CCC;
  color: #FFFFFF;
  padding-block-start: calc((48px - 16px) / 2);
  padding-block-end: calc((48px - 16px) / 2);
  padding-inline-start: 45px;
  padding-inline-end: 45px;
  border: none; }

.submit_button,
.email_input {
  border-radius: 5px; }

.submit_button,
.section_newsletter label {
  font-weight: 700; }

.section_newsletter label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-transform: uppercase; }
