@font-face {
  font-family: 'MyDM-Serif';
  src: local("DM Serif Regular"), local("DM_Serif_Regular"), local("dm-serif-regular");
  src: url("../fonts/dm_serif_display_400.woff2");
  src: url("../fonts/dm_serif_display_400.woff");
  font-weight: 400; }

@font-face {
  font-family: 'MyDM-Serif';
  src: local("DM Serif Italic"), local("DM_Serif_Italic"), local("dm-serif-italic");
  src: url("../fonts/dm_serif_display_400_italic.woff2");
  src: url("../fonts/dm_serif_display_400_italic.woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Regular"), local("DM_Sans_Regular"), local("dm-sans-regular");
  src: url("../fonts/dm_sans_400.woff2");
  src: url("../fonts/dm_sans_400.woff");
  font-weight: 400; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Italic"), local("DM_Sans_Italic"), local("dm-sans-italic");
  src: url("../fonts/dm_sans_400_italic.woff2");
  src: url("../fonts/dm_sans_400_italic.woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Medium Italic"), local("DM_Sans_Medium_Italic"), local("dm-sans-medium-italic");
  src: url("../fonts/dm_sans_500_italic.woff2");
  src: url("../fonts/dm_sans_500_italic.woff");
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Medium"), local("DM_Sans_Medium"), local("dm-sans-medium");
  src: url("../fonts/dm_sans_500.woff2");
  src: url("../fonts/dm_sans_500.woff");
  font-weight: 500; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Bold"), local("DM_Sans_Bold"), local("dm-sans-bold");
  src: url("../fonts/dm_sans_700.woff2");
  src: url("../fonts/dm_sans_700.woff");
  font-weight: 700; }

@font-face {
  font-family: 'MyDM-Sans';
  src: local("DM Sans Bold Italic"), local("DM_Sans_Bold_Italic"), local("dm-sans-bold-italic");
  src: url("../fonts/dm_sans_700_italic.woff2");
  src: url("../fonts/dm_sans_700_italic.woff");
  font-style: italic;
  font-weight: 700; }

body {
  font-family: 'MyDM-Sans', Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 1440px;
  background: rgba(67, 76, 204, 0.05); }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

h1,
h2,
h3,
time {
  font-family: 'MyDM-Serif', serif;
  font-weight: 400; }

.section_heading {
  display: none; }

section {
  padding-left: 14px;
  padding-right: 14px; }

@media (min-width: 1440px) {
  section {
    padding-left: 135px;
    padding-right: 135px; } }

.masthead {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #434CCC;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 14px;
  padding-right: 14px; }

.masthead_heading {
  margin: 0; }

.masthead_heading-title {
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase; }

@media (min-width: 1440px) {
  .masthead {
    padding-left: 135px;
    padding-right: 135px; }
  .masthead_heading-title {
    font-size: 40px; } }

.navigation {
  position: relative; }

.show-menu,
.navigation_list {
  position: absolute; }

.navigation_list {
  top: 0;
  right: 0;
  line-height: 24px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2b0ba0;
  border-bottom-left-radius: 24px;
  transform: translate(12%, -250%);
  transition: transform 0.2s;
  max-width: 400px; }

.navigation_list-item {
  font-weight: 700;
  border-block-end: 1px solid #FFFFFF; }

.navigation_link {
  color: #FFFFFF; }

.navigation_list-item:hover {
  border-block-end: 1px solid chartreuse; }

.navigation_link:hover {
  color: chartreuse; }

.menu {
  background-image: url("../images/icon_menu.svg");
  width: 20px;
  height: 14px;
  display: block;
  background-size: cover;
  text-indent: -9999px;
  cursor: pointer; }

.show-menu {
  top: -100%; }

body > [type="checkbox"]:checked ~ header .navigation_list {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(12%, -35%);
  transition: transform 0.2s; }

body > [type="checkbox"]:checked ~ header .menu {
  background-image: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(5, 5, 5, 0.5);
  width: 100vw;
  height: 100vh; }

@media (min-width: 640px), (min-width: 1440px) {
  .navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: unset;
    background-image: none;
    height: 100%;
    width: 324px;
    position: unset;
    max-width: 100%;
    transform: none; }
  .navigation_list-item:hover {
    border-block-end: none; }
  .navigation_list-item {
    display: block;
    border: none; }
  .show-menu,
  .menu {
    display: none; } }

.section_details-content {
  padding-top: 31px;
  padding-right: 0; }

.details_content-header,
.details_content-figure-picture,
.photo_information-list,
.details_content-figure-picture active-picture,
.details_content-summary-article {
  padding-right: 14px; }

.details_content-figure,
.image_list,
.photo_information-list {
  display: grid; }

@media (min-width: 1440px) {
  .details_content-header,
  .details_content-figure-picture,
  .photo_information-list,
  .details_content-figure-picture active-picture,
  .details_content-summary-article {
    padding-right: 0; }
  .section_details-content {
    padding-right: 135px; } }

.section_newsletter {
  background: #FFDD78;
  padding-top: 63px;
  padding-bottom: 54px; }

.article_header-link {
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase; }

.newsletter_article-title {
  font-size: 40px; }

@media (min-width: 1440px) {
  .section_newsletter {
    padding-top: 79px;
    padding-bottom: 104px; }
  .newsletter_article {
    display: flex;
    justify-content: space-between; }
  .newsletter_article-header {
    max-width: 382px; }
  .newsletter_article-title {
    font-size: 52px; } }

.site_footer {
  background: #FFFFFF; }

.site_footer-about,
.other_works,
.site_footer_navigation-list,
.information {
  padding-left: 14px;
  padding-right: 14px; }

.information,
.website-information,
.other_works-link,
.site_footer_navigation-list-item .list_item-link {
  color: rgba(0, 0, 0, 0.5); }

.other_works-list-item,
.website-information,
.site_footer_navigation-list,
.information {
  line-height: 24px; }

.other_works-link,
.other_works-details,
.share_link-list {
  display: flex; }

.site_footer-about {
  padding-top: 76px;
  padding-bottom: 79px; }

.site_footer-heading,
.website-information,
.information {
  margin: 0; }

.site_footer-title,
.site_footer_navigation-list-item .active,
.other_works-date {
  color: #000000; }

.site_footer-title {
  font-size: 24px;
  text-transform: uppercase; }

@media (min-width: 1440px) {
  .site_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 75px; }
  .site_footer-about,
  .other_works,
  .site_footer_navigation-list,
  .information {
    padding-left: 0;
    padding-right: 0; }
  .other_works,
  .site_footer-about {
    padding-top: 0; }
  .site_footer_navigation-list,
  .other_works {
    padding-bottom: 79px; } }

.share_link-list {
  max-width: calc(41px + 9px + 18px);
  justify-content: space-between;
  align-items: center; }

.share_link-list .list_item-link {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat; }

.share_link-list .list_item-link:hover {
  opacity: 0.5; }

.facebook_icon {
  background-image: url("../images/icon_facebook.svg");
  width: 9px;
  height: 18px; }

.twitter_icon {
  background-image: url("../images/icon_twitter.svg");
  width: 18px;
  height: 15px; }

.instagram_icon {
  background-image: url("../images/icon_instagram.svg");
  width: 18px;
  height: 18px; }

.details_content-breadcrumb {
  position: relative; }

.breadcrumb-link {
  color: rgba(0, 0, 0, 0.5);
  padding-left: calc(14px + 10px); }

.breadcrumb-link::before {
  content: "";
  background-image: url("../images/icon_arrow_left.svg");
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 14px;
  height: 8px; }

.details_content-heading {
  font-size: 52px; }

.details_content-header-paragraph {
  font-size: 18px; }

@media (min-width: 1440px) {
  .section_details-content {
    display: grid;
    grid-gap: 2rem; }
  .details_content-heading {
    font-size: 72px;
    max-width: 457px; } }

.photo_information-list {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px; }

.photo_information-list-item {
  display: flex;
  flex-direction: column; }

.information-detail {
  font-weight: 700; }

.summary_article-heading {
  font-size: 40px; }

.details_content-summary-article {
  padding-top: 75px;
  padding-bottom: 105px; }

.summary_article-header-paragraph {
  padding-top: 31px; }

.summary_article-paragraph,
.summary_article-header-paragraph {
  padding-bottom: 31px; }

.summary_article-paragraph,
.information_title {
  color: rgba(0, 0, 0, 0.5); }

.summary_article-heading,
.summary_article-header-paragraph,
.summary_article-paragraph,
.details_content-breadcrumb,
.details_content-figure {
  margin: 0; }

@media (min-width: 1440px) {
  .details_content-summary-article {
    grid-column: 2;
    padding-top: 0; }
  .summary_article-heading {
    line-height: 62px;
    font-size: 52px; }
  .summary_article-header-paragraph {
    padding-bottom: 38px; }
  .summary_article-paragraph {
    padding-bottom: 55px; } }

.email_input {
  border: 1px solid #DADADA;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 346px; }

input::-webkit-input-placeholder {
  padding-left: 16px; }

.submit_button {
  background-color: #434CCC;
  color: #FFFFFF;
  font-size: 16px;
  padding-top: calc((48px - 16px) / 2);
  padding-bottom: calc((48px - 16px) / 2);
  padding-left: 45px;
  padding-right: 45px;
  border: none;
  max-height: 48px;
  max-width: 100%; }

.submit_button:hover {
  background-color: #1e27a7;
  box-shadow: 1px 1px 3px #000000; }

.submit_button,
.email_input {
  border-radius: 5px; }

.submit_button,
.section_newsletter label {
  font-weight: 700; }

.section_newsletter label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-transform: uppercase; }

@media (min-width: 1440px) {
  .section_newsletter form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(346px + 54px + 170px); }
  .email_input {
    margin-bottom: 0;
    width: 346px; }
  .submit_button {
    margin-top: 30px; } }

.details_content-figure {
  grid-gap: 10px;
  padding-top: calc(82px - 32px);
  padding-bottom: calc(92px - 32px); }

.image-active,
.details_content-figure-picture {
  max-width: 100%;
  max-height: 215px; }

.image_list {
  grid-gap: 10.5px;
  grid-template-columns: repeat(9, 1fr);
  overflow: hidden; }

.small-image,
.image-active {
  border-radius: 5px; }

.small-image {
  max-width: 137px;
  max-height: 85px; }

.not-active {
  opacity: 0.5; }

@media (min-width: 1440px) {
  .details_content-figure {
    grid-column: 1/3;
    max-width: 1170px; }
  .image-active,
  .details_content-figure-picture {
    max-width: 1170px;
    max-height: 728px; }
  .image_list {
    overflow: visible; }
  .photo_information-list {
    max-width: 443px;
    max-height: 152px;
    align-items: flex-end;
    grid-column: 1; } }

.website-information {
  padding-top: 22px;
  padding-bottom: 29px; }

@media (min-width: 1440px) {
  .site_footer-about {
    flex-basis: 20%;
    padding-left: 135px; } }

.site_footer_navigation-list-item .active {
  font-weight: 700;
  padding-bottom: 20px; }

.site_footer_navigation-list-item:nth-of-type(1) {
  padding-bottom: 23px; }

.site_footer_navigation-list-item > .list_item-link:hover {
  color: #000000;
  font-weight: 700; }

@media (min-width: 1440px) {
  .site_footer_navigation-list {
    flex-basis: 20%; } }

.other_works {
  padding-top: calc(78px - 13px);
  padding-bottom: calc(70px - 13px); }

.other_works-list-item {
  padding-bottom: 13px;
  padding-top: 13px; }

.other_works-details {
  flex-direction: column;
  padding-left: 31px; }

.other_works-image {
  max-width: 70px;
  max-height: 48px;
  border-radius: 3px; }

.other_works-date {
  font-size: 12px;
  font-weight: 700; }

@media (min-width: 1440px) {
  .other_works {
    max-width: 370px;
    padding-right: 135px;
    flex-basis: 35%; }
  .other_works-list-item:nth-of-type(1) {
    padding-top: 0;
    padding-bottom: calc(39px / 2); }
  .other_works-list-item:nth-of-type(2) {
    padding-bottom: 0;
    padding-top: calc(39px / 2); } }

.page-information {
  border-block-start: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 27px;
  padding-bottom: 29px; }

.information:nth-of-type(2) {
  padding-top: 7px; }

@media (min-width: 1440px) {
  .page-information {
    display: flex;
    place-content: space-between;
    flex-basis: 100%;
    padding-left: 135px;
    padding-right: 135px; }
  .information {
    padding: 0; } }
